.about-main {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(minmax(500px auto));
    grid-template-areas:
    "b"
    "a"
    "c"
    "d";

    h1, h2, h3 {
        font-family: 'Source Code Pro', Consolas, monospace;
        text-shadow: 1px 1px 10px #1e1e1e;
    }

    #about-img-one {
        min-height: 500px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 75%;
        grid-area: b;
    }

    #about-img-two {
        min-height: 500px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        grid-area: c;
    }

    #about-img-three {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        grid-area: f;
    }
}

@media only screen and (min-width: 766px) {
    .about-main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1000px);
        grid-template-areas:
        "a b"
        "c d";
    }
}