.fourohfour {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr 1fr max-content 1fr 1fr;
    grid-template-areas:    ". . ."
                            ". a ."
                            ". b ."
                            ". T ."
                            ". . .";
              
              
    
    align-self: center;

    h2 {
        font-family: DDCHardware;
        padding: 0;
        margin: 0;
        grid-area: b;
        font-size: 30vh;
        justify-self: center;
        align-self: center;
        background: url(/img/404.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    div {
        display: grid;
        p {
            font-weight: 900;
            text-align: center;
        }
    }

    .fourohfour-top-text {
        grid-area: a;
        align-items: end;
    }
    .fourohfour-bottom-text {
        grid-area: T;
        align-items: end;
    }
  }
