.project-main {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto auto 50px;

    h1, h2, h3 {
    font-family: 'Source Code Pro', Consolas, monospace;
    text-shadow: 1px 1px 10px #1e1e1e;
    }
    
    section {
        grid-column: 1/-1;
        grid-row: 2/3;
        h2, h4 {
            text-align: center;
        }
        p {
            margin: 1em;
            text-align: justify;
        }
    }

    .uo-project-card {
        grid-row: 3/4;
        a {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-column: 1/-1;
            .uo-header {
                min-height: 300px;
                display: grid;
                grid-column: 1/-1;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    height: 100%;
                    grid-column: 1/-1;
                    grid-row: 1/-1;
                    object-fit: cover;
                    object-position: 0% 0%;
                }
                h3 {
                    font-size:2.1em;
                    font-weight: 700;
                    display: flex;
                    justify-self: center;
                    align-self: center;
                    grid-column: 1/-1;
                    grid-row: 1/-1;
                    text-shadow: 1px 1px 10px black, -1px -1px 10px black;
                }
            }
            .uo-info {
                display: grid;
                grid-template-rows: 1fr min-content max-content 1fr;
                grid-column: 1/-1;
                padding: 1em;
                height: 100%;

                h4 {
                    grid-row: 2/3;
                }
                p{
                    grid-row: 3/4;
                }
            }
        }
    }

    .pa-project-card {
        grid-row: 4/5;
        a {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-column: 1/-1;
            .pa-header {
                min-height: 300px;
                display: grid;
                grid-column: 1/-1;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                    grid-column: 1/-1;
                    grid-row: 1/-1;
                    object-fit: cover;
                    object-position: right top;
                }
                h3 {
                    font-size:2.2em;
                    font-weight: 700;
                    display: flex;
                    justify-self: center;
                    align-self: center;
                    grid-column: 1/-1;
                    grid-row: 1/-1;
                    text-shadow: 1px 1px 10px black, -1px -1px 10px black;
                }
            }
            .pa-info {
                display: grid;
                grid-template-rows: 1fr min-content max-content 1fr;
                grid-column: 1/-1;
                padding: 1em;

                h4 {
                    grid-row: 2/3;
                }
                p{
                    grid-row: 3/4;
                }
            }
        }
    }
}

@media only screen and (min-width: 766px) {
    .project-main {
        min-height: 100vh;
        
        .uo-project-card {
            a {
                display: grid;
                grid-template-columns: 2fr 3fr;
                grid-column: 1/-1;
                .uo-header {
                    display: grid;
                    grid-column: 1/2;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 100%;
                        height: 100%;
                        grid-column: 1/-1;
                        grid-row: 1/-1;
                        object-fit: cover;
                        object-position: 0% 0%;
                    }
                    h3 {
                        display: flex;
                        justify-self: center;
                        align-self: center;
                        grid-column: 1/-1;
                        grid-row: 1/-1;
                        text-shadow: 1px 1px 10px black, -1px -1px 10px black;
                    }
                }
                .uo-info {
                    grid-column: 2/-1;
                    padding: 1em;
                }
            }
        }

        .pa-project-card {
            a {
                display: grid;
                grid-template-columns: 3fr 2fr;
                grid-column: 1/-1;

                .pa-header {
                    display: grid;
                    grid-column: 2/-1;
                    grid-row: 1/2;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 100%;
                        height: 100%;
                        grid-column: 1/-1;
                        grid-row: 1/-1;
                        object-fit: cover;
                        object-position: 0% 0%;
                    }
                    h3 {
                        display: flex;
                        justify-self: center;
                        align-self: center;
                        grid-column: 1/-1;
                        grid-row: 1/-1;
                        text-shadow: 1px 1px 10px black, -1px -1px 10px black;
                    }
                }
                .pa-info {
                    grid-column: 1/2;
                    padding: 1em;
                }
            }
        }
    }

}